.idea/
.ruff_cache/
.pytest_cache/
dist/
.cache/
__pycache__/
logs/

*.iml
credentials.yml
cookies.txt
dev/_captures/
.coverage
coverage.json
*.log
course_downloads/
*.sqlite

.venv/
pytest-of-*/
.vscode/
